# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "sharedCodeUpdate [coder]":
        prefix: "sharedCodeUpdate"
        body: '''sharedCodeUpdate(${1:sourceFolder}, ${2:destinationFolder}, 'ExistingCodeSubfolder', ${3:value})'''
        description: '''[coder] Add new shared code source files to existing shared code
folder
        sharedCodeUpdate(sourceFolder, destinationFolder, 'ExistingCodeSubfolder', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/coder/ref/sharedcodeupdate.html'

