# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "mbuild [compiler]":
        prefix: "mbuild"
        body: '''mbuild(${1:args})'''
        description: '''[compiler] Compile and link source files against MATLAB generated shared libraries
        mbuild(args)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/compiler/ml_code/mbuild.html'


    "mcc [compiler]":
        prefix: "mcc"
        body: '''mcc(${1:args})'''
        description: '''[compiler] Compile MATLAB functions for deployment
        mcc(args)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/compiler/hadoop/mcc.html'

