# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "designMultistageDecimator [dsp]":
        prefix: "designMultistageDecimator"
        body: '''${1:C} = designMultistageDecimator(${1:M}, ${2:Fs}, ${3:TW}, ${4:Astop}, 'NumStages', ${5:value}, 'MinTotalCoeffs', ${6:value}, 'CostMethod', ${7:value}, 'CostTolerance', ${8:value})'''
        description: '''[dsp] Multistage decimator design
        C = designMultistageDecimator(M, Fs, TW, Astop, 'NumStages', value, 'MinTotalCoeffs', value, 'CostMethod', value, 'CostTolerance', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/dsp/ref/designmultistagedecimator.html'


    "designMultistageInterpolator [dsp]":
        prefix: "designMultistageInterpolator"
        body: '''${1:C} = designMultistageInterpolator(${1:L}, ${2:Fs}, ${3:TW}, ${4:Astop}, 'NumStages', ${5:value}, 'MinTotalCoeffs', ${6:value}, 'CostMethod', ${7:value}, 'CostTolerance', ${8:value})'''
        description: '''[dsp] Multistage interpolator design
        C = designMultistageInterpolator(L, Fs, TW, Astop, 'NumStages', value, 'MinTotalCoeffs', value, 'CostMethod', value, 'CostTolerance', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/dsp/ref/designmultistageinterpolator.html'

