# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "getselectedsource [imaq]":
        prefix: "getselectedsource"
        body: '''${1:out} = getselectedsource(${1:obj})'''
        description: '''[imaq] Return currently selected video source object
        out = getselectedsource(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/getselectedsource.html'


    "triggerinfo [imaq]":
        prefix: "triggerinfo"
        body: '''${1:out} = triggerinfo(${1:obj}, ${2:optional_type})'''
        description: '''[imaq] Provide information about available trigger configurations
        out = triggerinfo(obj, optional_type)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/triggerinfo.html'


    "getsnapshot [imaq]":
        prefix: "getsnapshot"
        body: '''getsnapshot(${1:obj})'''
        description: '''[imaq] Immediately return single image frame
        getsnapshot(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/getsnapshot.html'


    "imaqmex [imaq]":
        prefix: "imaqmex"
        body: '''imaqmex(${1:feature}, ${2:featureNames}, ${3:optional_value})'''
        description: '''[imaq] 
        imaqmex(feature, featureNames, optional_value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/imaqmex.html'


    "flushdata [imaq]":
        prefix: "flushdata"
        body: '''flushdata(${1:obj}, ${2:optional_mode})'''
        description: '''[imaq] Remove data from memory buffer used to store acquired
image frames
        flushdata(obj, optional_mode)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/flushdata.html'


    "commands [imaq]":
        prefix: "commands"
        body: '''${1:out} = commands(${1:gigeCamera})'''
        description: '''[imaq] List of commands available for GigE Vision camera
        out = commands(gigeCamera)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/commands.html'


    "imaqhelp [imaq]":
        prefix: "imaqhelp"
        body: '''${1:out} = imaqhelp(${1:optional_obj}, ${2:optional_name})'''
        description: '''[imaq] Image acquisition object function and property help
        out = imaqhelp(optional_obj, optional_name)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/imaqhelp.html'


    "propinfo [imaq]":
        prefix: "propinfo"
        body: '''${1:out} = propinfo(${1:obj}, ${2:optional_propName})'''
        description: '''[imaq] Property characteristics for image acquisition objects
        out = propinfo(obj, optional_propName)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/propinfo.html'


    "snapshot [imaq]":
        prefix: "snapshot"
        body: '''snapshot(${1:optional_camera})'''
        description: '''[imaq] Acquire single image frame from Matrox frame grabber
        snapshot(optional_camera)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/matrox.snapshot.html'


    "trigger [imaq]":
        prefix: "trigger"
        body: '''trigger(${1:obj})'''
        description: '''[imaq] Initiate data logging
        trigger(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/trigger.html'


    "videoinput [imaq]":
        prefix: "videoinput"
        body: '''${1:obj} = videoinput(${1:adaptorName}, ${2:deviceID}, ${3:format}, 'BayerSensorAlignment', ${4:value}, 'Disklogger', ${5:value}, 'FramesAcquiredFcnCount', ${6:value}, 'FrameGrabInterval', ${7:value}, 'FramesPerTrigger', ${8:value}, 'LoggingMode', ${9:value}, 'Name', ${10:value}, 'ReturnedColorSpace', ${11:value}, 'ROIPosition', ${12:value}, 'SelectedSourceName', ${13:value}, 'Tag', ${14:value}, 'Timeout', ${15:value}, 'TimerPeriod', ${16:value}, 'TriggerFrameDelay', ${17:value}, 'TriggerRepeat', ${18:value})'''
        description: '''[imaq] Create video input object
        obj = videoinput(adaptorName, deviceID, format, 'BayerSensorAlignment', value, 'Disklogger', value, 'FramesAcquiredFcnCount', value, 'FrameGrabInterval', value, 'FramesPerTrigger', value, 'LoggingMode', value, 'Name', value, 'ReturnedColorSpace', value, 'ROIPosition', value, 'SelectedSourceName', value, 'Tag', value, 'Timeout', value, 'TimerPeriod', value, 'TriggerFrameDelay', value, 'TriggerRepeat', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/videoinput.html'


    "getdata [imaq]":
        prefix: "getdata"
        body: '''getdata(${1:obj}, ${2:frames}, ${3:type}, ${4:optional_format})'''
        description: '''[imaq] Acquired image frames to MATLAB workspace
        getdata(obj, frames, type, optional_format)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/getdata.html'


    "imaqtool [imaq]":
        prefix: "imaqtool"
        body: '''imaqtool(${1:optional_file})'''
        description: '''[imaq] Launch Image Acquisition Tool
        imaqtool(optional_file)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/imaqtool.html'


    "closepreview [imaq]":
        prefix: "closepreview"
        body: '''closepreview(${1:obj})'''
        description: '''[imaq] Close Video Preview window
        closepreview(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/closepreview.html'


    "islogging [imaq]":
        prefix: "islogging"
        body: '''${1:out} = islogging(${1:obj})'''
        description: '''[imaq] Determine whether video input object is logging
        out = islogging(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/islogging.html'


    "peekdata [imaq]":
        prefix: "peekdata"
        body: '''peekdata(${1:obj}, ${2:frames})'''
        description: '''[imaq] Most recently acquired image data
        peekdata(obj, frames)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/peekdata.html'


    "isrunning [imaq]":
        prefix: "isrunning"
        body: '''${1:out} = isrunning(${1:obj})'''
        description: '''[imaq] Determine whether video input object is running
        out = isrunning(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/isrunning.html'


    "stoppreview [imaq]":
        prefix: "stoppreview"
        body: '''stoppreview(${1:obj})'''
        description: '''[imaq] Stop previewing video data
        stoppreview(obj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/stoppreview.html'


    "triggerconfig [imaq]":
        prefix: "triggerconfig"
        body: '''${1:out} = triggerconfig(${1:obj}, ${2:optional_type}, ${3:optional_condition})'''
        description: '''[imaq] Configure video input object trigger properties
        out = triggerconfig(obj, optional_type, optional_condition)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/triggerconfig.html'


    "imaqhwinfo [imaq]":
        prefix: "imaqhwinfo"
        body: '''${1:out} = imaqhwinfo(${1:optional_obj}, ${2:optional_field})'''
        description: '''[imaq] Information about available image acquisition hardware
        out = imaqhwinfo(optional_obj, optional_field)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/imaqhwinfo.html'


    "wait [imaq]":
        prefix: "wait"
        body: '''wait(${1:obj}, ${2:optional_waittime}, ${3:optional_state})'''
        description: '''[imaq] Block MATLAB until background operation completes
        wait(obj, optional_waittime, optional_state)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/ref/wait_session.html'


    "preview [imaq]":
        prefix: "preview"
        body: '''${1:out} = preview(${1:obj}, ${2:optional_himage})'''
        description: '''[imaq] Preview of live video data
        out = preview(obj, optional_himage)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/imaq/preview.html'

