# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "minvtran [map]":
        prefix: "minvtran"
        body: '''[${5:lat}, ${6:lon}, ${7:alt}] = minvtran(${1:optional_mstruct}, ${2:x}, ${3:y}, ${4:optional_z})'''
        description: '''[map] Unproject features from map to geographic coordinates
        [lat, lon, alt] = minvtran(optional_mstruct, x, y, optional_z)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/minvtran.html'


    "geotiff2mstruct [map]":
        prefix: "geotiff2mstruct"
        body: '''${2:mstruct} = geotiff2mstruct(${1:proj})'''
        description: '''[map] Convert GeoTIFF information to map projection structure
        mstruct = geotiff2mstruct(proj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/geotiff2mstruct.html'


    "vinvtran [map]":
        prefix: "vinvtran"
        body: '''[${5:az}, ${6:len}] = vinvtran(${1:optional_mstruct}, ${2:x}, ${3:y}, ${4:optional_th})'''
        description: '''[map] Azimuth on ellipsoid from direction angle in map plane
        [az, len] = vinvtran(optional_mstruct, x, y, optional_th)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/vinvtran.html'


    "projfwd [map]":
        prefix: "projfwd"
        body: '''[${4:x}, ${5:y}] = projfwd(${1:proj}, ${2:lat}, ${3:lon})'''
        description: '''[map] Forward map projection using PROJ.4 map
projection library
        [x, y] = projfwd(proj, lat, lon)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/projfwd.html'


    "utmgeoid [map]":
        prefix: "utmgeoid"
        body: '''[${2:ellipsoid}, ${3:ellipsoidstr}] = utmgeoid(${1:optional_zone})'''
        description: '''[map] Select ellipsoids for given UTM zone
        [ellipsoid, ellipsoidstr] = utmgeoid(optional_zone)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/utmgeoid.html'


    "maptrimp [map]":
        prefix: "maptrimp"
        body: '''[${5:latTrimmed}, ${6:lonTrimmed}] = maptrimp(${1:lat}, ${2:lon}, ${3:latlim}, ${4:lonlim})'''
        description: '''[map] Trim polygons to latitude-longitude quadrangle
        [latTrimmed, lonTrimmed] = maptrimp(lat, lon, latlim, lonlim)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/maptrimp.html'


    "vfwdtran [map]":
        prefix: "vfwdtran"
        body: '''[${5:th}, ${6:len}] = vfwdtran(${1:optional_mstruct}, ${2:lat}, ${3:lon}, ${4:az})'''
        description: '''[map] Direction angle in map plane from azimuth on ellipsoid
        [th, len] = vfwdtran(optional_mstruct, lat, lon, az)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/vfwdtran.html'


    "projinv [map]":
        prefix: "projinv"
        body: '''[${4:lat}, ${5:lon}] = projinv(${1:proj}, ${2:x}, ${3:y})'''
        description: '''[map] Inverse map projection using PROJ.4 map
projection library
        [lat, lon] = projinv(proj, x, y)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/projinv.html'


    "distortcalc [map]":
        prefix: "distortcalc"
        body: '''[${4:areascale}, ${5:angdef}, ${6:maxscale}, ${7:minscale}, ${8:merscale}, ${9:parscale}] = distortcalc(${1:optional_mstruct}, ${2:lat}, ${3:long})'''
        description: '''[map] Distortion parameters for map projections
        [areascale, angdef, maxscale, minscale, merscale, parscale] = distortcalc(optional_mstruct, lat, long)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/distortcalc.html'


    "maptriml [map]":
        prefix: "maptriml"
        body: '''[${5:lat}, ${6:lon}] = maptriml(${1:lat0}, ${2:lon0}, ${3:latlim}, ${4:lonlim})'''
        description: '''[map] Trim lines to latitude-longitude quadrangle
        [lat, lon] = maptriml(lat0, lon0, latlim, lonlim)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/maptriml.html'


    "maps [map]":
        prefix: "maps"
        body: '''${2:strmat} = maps(${1:str})'''
        description: '''[map] List available map projections and verify names
        strmat = maps(str)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/maps.html'


    "utmzone [map]":
        prefix: "utmzone"
        body: '''${3:zone} = utmzone(${1:lat}, ${2:long})'''
        description: '''[map] Select UTM zone given latitude and longitude
        zone = utmzone(lat, long)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/utmzone.html'


    "projlist [map]":
        prefix: "projlist"
        body: '''${2:S} = projlist(${1:optional_listmode})'''
        description: '''[map] Map projections supported by projfwd and projinv
        S = projlist(optional_listmode)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/projlist.html'


    "mfwdtran [map]":
        prefix: "mfwdtran"
        body: '''[${5:x}, ${6:y}, ${7:z}] = mfwdtran(${1:optional_mstruct}, ${2:lat}, ${3:lon}, ${4:optional_alt})'''
        description: '''[map] Project geographic features to map coordinates
        [x, y, z] = mfwdtran(optional_mstruct, lat, lon, optional_alt)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/map/ref/mfwdtran.html'

