# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "digraph.predecessors [matlab]":
        prefix: "digraph.predecessors"
        body: '''digraph.predecessors(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        digraph.predecessors(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.predecessors.html'


    "digraph.conncomp [matlab]":
        prefix: "digraph.conncomp"
        body: '''[${1:bins}, ${2:binSize}] = digraph.conncomp(${1:G}, 'OutputForm', ${2:value}, 'Type', ${3:value})'''
        description: '''[matlab] 
        [bins, binSize] = digraph.conncomp(G, 'OutputForm', value, 'Type', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.conncomp.html'


    "digraph.isisomorphic [matlab]":
        prefix: "digraph.isisomorphic"
        body: '''${1:isiso} = digraph.isisomorphic(${1:G}, ${2:G2}, 'NodeVariables', ${3:value}, 'EdgeVariables', ${4:value})'''
        description: '''[matlab] 
        isiso = digraph.isisomorphic(G, G2, 'NodeVariables', value, 'EdgeVariables', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.isisomorphic.html'


    "digraph.toposort [matlab]":
        prefix: "digraph.toposort"
        body: '''[${1:pred}, ${2:t}] = digraph.toposort(${1:G}, 'Order', ${2:value})'''
        description: '''[matlab] 
        [pred, t] = digraph.toposort(G, 'Order', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.toposort.html'


    "digraph.flipedge [matlab]":
        prefix: "digraph.flipedge"
        body: '''digraph.flipedge(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        digraph.flipedge(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.flipedge.html'


    "graph.rmnode [matlab]":
        prefix: "graph.rmnode"
        body: '''graph.rmnode(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        graph.rmnode(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.rmnode.html'


    "digraph.findnode [matlab]":
        prefix: "digraph.findnode"
        body: '''digraph.findnode(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        digraph.findnode(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.findnode.html'


    "graph.bfsearch [matlab]":
        prefix: "graph.bfsearch"
        body: '''${1:t} = graph.bfsearch(${1:G}, ${2:s}, ${3:optional_events}, 'Restart', ${4:value})'''
        description: '''[matlab] 
        t = graph.bfsearch(G, s, optional_events, 'Restart', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.bfsearch.html'


    "graph.shortestpath [matlab]":
        prefix: "graph.shortestpath"
        body: '''[${1:path}, ${2:d}] = graph.shortestpath(${1:G}, ${2:s}, ${3:t}, 'Method', ${4:value})'''
        description: '''[matlab] 
        [path, d] = graph.shortestpath(G, s, t, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.shortestpath.html'


    "graph.isisomorphic [matlab]":
        prefix: "graph.isisomorphic"
        body: '''${1:isiso} = graph.isisomorphic(${1:G}, ${2:G2}, 'NodeVariables', ${3:value}, 'EdgeVariables', ${4:value})'''
        description: '''[matlab] 
        isiso = graph.isisomorphic(G, G2, 'NodeVariables', value, 'EdgeVariables', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.isisomorphic.html'


    "graph.dfsearch [matlab]":
        prefix: "graph.dfsearch"
        body: '''${1:t} = graph.dfsearch(${1:G}, ${2:s}, ${3:optional_events}, 'Restart', ${4:value})'''
        description: '''[matlab] 
        t = graph.dfsearch(G, s, optional_events, 'Restart', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.dfsearch.html'


    "digraph.isomorphism [matlab]":
        prefix: "digraph.isomorphism"
        body: '''${1:p} = digraph.isomorphism(${1:G}, ${2:G2}, 'NodeVariables', ${3:value}, 'EdgeVariables', ${4:value})'''
        description: '''[matlab] 
        p = digraph.isomorphism(G, G2, 'NodeVariables', value, 'EdgeVariables', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.isomorphism.html'


    "graph.distances [matlab]":
        prefix: "graph.distances"
        body: '''${1:d} = graph.distances(${1:G}, ${2:optional_s}, ${3:optional_t}, 'Method', ${4:value})'''
        description: '''[matlab] 
        d = graph.distances(G, optional_s, optional_t, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.distances.html'


    "digraph.inedges [matlab]":
        prefix: "digraph.inedges"
        body: '''digraph.inedges(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        digraph.inedges(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.inedges.html'


    "graph.degree [matlab]":
        prefix: "graph.degree"
        body: '''graph.degree(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        graph.degree(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.degree.html'


    "graph.outedges [matlab]":
        prefix: "graph.outedges"
        body: '''graph.outedges(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        graph.outedges(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.outedges.html'


    "graph [matlab]":
        prefix: "graph"
        body: '''${1:g} = graph(${1:EdgeTable}, ${2:optional_NodeTable}, ${3:omit})'''
        description: '''[matlab] Graph with undirected edges
        g = graph(EdgeTable, optional_NodeTable, omit)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.html'


    "digraph.rmnode [matlab]":
        prefix: "digraph.rmnode"
        body: '''digraph.rmnode(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        digraph.rmnode(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.rmnode.html'


    "digraph.centrality [matlab]":
        prefix: "digraph.centrality"
        body: '''${1:c} = digraph.centrality(${1:G}, ${2:type}, 'Importance', ${3:value}, 'FollowProbability', ${4:value}, 'Tolerance', ${5:value}, 'MaxIterations', ${6:value})'''
        description: '''[matlab] 
        c = digraph.centrality(G, type, 'Importance', value, 'FollowProbability', value, 'Tolerance', value, 'MaxIterations', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.centrality.html'


    "graph.nearest [matlab]":
        prefix: "graph.nearest"
        body: '''[${1:nodes}, ${2:d}] = graph.nearest(${1:G}, ${2:s}, ${3:d}, 'Method', ${4:value})'''
        description: '''[matlab] 
        [nodes, d] = graph.nearest(G, s, d, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.nearest.html'


    "graph.subgraph [matlab]":
        prefix: "graph.subgraph"
        body: '''graph.subgraph(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        graph.subgraph(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.subgraph.html'


    "digraph.bfsearch [matlab]":
        prefix: "digraph.bfsearch"
        body: '''${1:t} = digraph.bfsearch(${1:G}, ${2:s}, ${3:optional_events}, 'Restart', ${4:value})'''
        description: '''[matlab] 
        t = digraph.bfsearch(G, s, optional_events, 'Restart', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.bfsearch.html'


    "graph.edgecount [matlab]":
        prefix: "graph.edgecount"
        body: '''graph.edgecount(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        graph.edgecount(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.edgecount.html'


    "digraph.successors [matlab]":
        prefix: "digraph.successors"
        body: '''digraph.successors(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        digraph.successors(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.successors.html'


    "plot [matlab]":
        prefix: "plot"
        body: '''${1:h} = plot(${1:optional_ax}, ${2:G}, 'Layout', ${3:value}, ${4:options})'''
        description: '''[matlab] Plot cfit or sfit object
        h = plot(optional_ax, G, 'Layout', value, options)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/cfit.plot.html'


    "graph.adjacency [matlab]":
        prefix: "graph.adjacency"
        body: '''${1:A} = graph.adjacency(${1:G}, ${2:optional_weight})'''
        description: '''[matlab] 
        A = graph.adjacency(G, optional_weight)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.adjacency.html'


    "graph.isomorphism [matlab]":
        prefix: "graph.isomorphism"
        body: '''${1:p} = graph.isomorphism(${1:G}, ${2:G2}, 'NodeVariables', ${3:value}, 'EdgeVariables', ${4:value})'''
        description: '''[matlab] 
        p = graph.isomorphism(G, G2, 'NodeVariables', value, 'EdgeVariables', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.isomorphism.html'


    "digraph.shortestpathtree [matlab]":
        prefix: "digraph.shortestpathtree"
        body: '''[${1:tree}, ${2:d}] = digraph.shortestpathtree(${1:G}, ${2:s}, ${3:optional_t}, 'Method', ${4:value}, 'OutputForm', ${5:value})'''
        description: '''[matlab] 
        [tree, d] = digraph.shortestpathtree(G, s, optional_t, 'Method', value, 'OutputForm', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.shortestpathtree.html'


    "graph.reordernodes [matlab]":
        prefix: "graph.reordernodes"
        body: '''graph.reordernodes(${1:G}, ${2:order})'''
        description: '''[matlab] 
        graph.reordernodes(G, order)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.reordernodes.html'


    "digraph.nearest [matlab]":
        prefix: "digraph.nearest"
        body: '''[${1:nodes}, ${2:d}] = digraph.nearest(${1:G}, ${2:s}, ${3:d}, 'Method', ${4:value}, 'Direction', ${5:value})'''
        description: '''[matlab] 
        [nodes, d] = digraph.nearest(G, s, d, 'Method', value, 'Direction', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.nearest.html'


    "graph.simplify [matlab]":
        prefix: "graph.simplify"
        body: '''[${1:gsimple}, ${2:edgeind}, ${3:edgecount}] = graph.simplify(${1:G}, ${2:optional_selfLoops})'''
        description: '''[matlab] 
        [gsimple, edgeind, edgecount] = graph.simplify(G, optional_selfLoops)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.simplify.html'


    "digraph.shortestpath [matlab]":
        prefix: "digraph.shortestpath"
        body: '''[${1:path}, ${2:d}] = digraph.shortestpath(${1:G}, ${2:s}, ${3:t}, 'Method', ${4:value})'''
        description: '''[matlab] 
        [path, d] = digraph.shortestpath(G, s, t, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.shortestpath.html'


    "digraph.subgraph [matlab]":
        prefix: "digraph.subgraph"
        body: '''digraph.subgraph(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        digraph.subgraph(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.subgraph.html'


    "graph.findnode [matlab]":
        prefix: "graph.findnode"
        body: '''graph.findnode(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        graph.findnode(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.findnode.html'


    "graph.rmedge [matlab]":
        prefix: "graph.rmedge"
        body: '''graph.rmedge(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        graph.rmedge(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.rmedge.html'


    "graph.neighbors [matlab]":
        prefix: "graph.neighbors"
        body: '''graph.neighbors(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        graph.neighbors(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.neighbors.html'


    "graph.addedge [matlab]":
        prefix: "graph.addedge"
        body: '''graph.addedge(${1:G}, ${2:s}, ${3:t}, ${4:w})'''
        description: '''[matlab] 
        graph.addedge(G, s, t, w)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.addedge.html'


    "graph.maxflow [matlab]":
        prefix: "graph.maxflow"
        body: '''[${1:mf}, ${2:gf}, ${3:cs}, ${4:ct}] = graph.maxflow(${1:G}, ${2:source}, ${3:target})'''
        description: '''[matlab] 
        [mf, gf, cs, ct] = graph.maxflow(G, source, target)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.maxflow.html'


    "graph.minspantree [matlab]":
        prefix: "graph.minspantree"
        body: '''[${1:t}, ${2:pred}] = graph.minspantree(${1:G}, 'Method', ${2:value}, 'Type', ${3:value}, 'Root', ${4:value})'''
        description: '''[matlab] 
        [t, pred] = graph.minspantree(G, 'Method', value, 'Type', value, 'Root', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.minspantree.html'


    "digraph.reordernodes [matlab]":
        prefix: "digraph.reordernodes"
        body: '''digraph.reordernodes(${1:G}, ${2:order})'''
        description: '''[matlab] 
        digraph.reordernodes(G, order)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.reordernodes.html'


    "digraph.findedge [matlab]":
        prefix: "digraph.findedge"
        body: '''digraph.findedge(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        digraph.findedge(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.findedge.html'


    "digraph.addedge [matlab]":
        prefix: "digraph.addedge"
        body: '''digraph.addedge(${1:G}, ${2:s}, ${3:t}, ${4:w})'''
        description: '''[matlab] 
        digraph.addedge(G, s, t, w)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.addedge.html'


    "graph.centrality [matlab]":
        prefix: "graph.centrality"
        body: '''${1:c} = graph.centrality(${1:G}, ${2:type}, 'Importance', ${3:value}, 'FollowProbability', ${4:value}, 'Tolerance', ${5:value}, 'MaxIterations', ${6:value})'''
        description: '''[matlab] 
        c = graph.centrality(G, type, 'Importance', value, 'FollowProbability', value, 'Tolerance', value, 'MaxIterations', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.centrality.html'


    "digraph.distances [matlab]":
        prefix: "digraph.distances"
        body: '''${1:d} = digraph.distances(${1:G}, ${2:optional_s}, ${3:optional_t}, 'Method', ${4:value})'''
        description: '''[matlab] 
        d = digraph.distances(G, optional_s, optional_t, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.distances.html'


    "graph.shortestpathtree [matlab]":
        prefix: "graph.shortestpathtree"
        body: '''[${1:tree}, ${2:d}] = graph.shortestpathtree(${1:G}, ${2:s}, ${3:optional_t}, 'Method', ${4:value}, 'OutputForm', ${5:value})'''
        description: '''[matlab] 
        [tree, d] = graph.shortestpathtree(G, s, optional_t, 'Method', value, 'OutputForm', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.shortestpathtree.html'


    "digraph.adjacency [matlab]":
        prefix: "digraph.adjacency"
        body: '''${1:A} = digraph.adjacency(${1:G}, ${2:optional_weight})'''
        description: '''[matlab] 
        A = digraph.adjacency(G, optional_weight)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.adjacency.html'


    "digraph.simplify [matlab]":
        prefix: "digraph.simplify"
        body: '''[${1:gsimple}, ${2:edgeind}, ${3:edgecount}] = digraph.simplify(${1:G}, ${2:optional_selfLoops})'''
        description: '''[matlab] 
        [gsimple, edgeind, edgecount] = digraph.simplify(G, optional_selfLoops)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.simplify.html'


    "digraph.dfsearch [matlab]":
        prefix: "digraph.dfsearch"
        body: '''${1:t} = digraph.dfsearch(${1:G}, ${2:s}, ${3:optional_events}, 'Restart', ${4:value})'''
        description: '''[matlab] 
        t = digraph.dfsearch(G, s, optional_events, 'Restart', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.dfsearch.html'


    "graph.findedge [matlab]":
        prefix: "graph.findedge"
        body: '''graph.findedge(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        graph.findedge(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.findedge.html'


    "graph.biconncomp [matlab]":
        prefix: "graph.biconncomp"
        body: '''[${1:edgebins}, ${2:cutvert}] = graph.biconncomp(${1:G}, 'OutputForm', ${2:value})'''
        description: '''[matlab] 
        [edgebins, cutvert] = graph.biconncomp(G, 'OutputForm', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.biconncomp.html'


    "graph.conncomp [matlab]":
        prefix: "graph.conncomp"
        body: '''[${1:bins}, ${2:binSize}] = graph.conncomp(${1:G}, 'OutputForm', ${2:value})'''
        description: '''[matlab] 
        [bins, binSize] = graph.conncomp(G, 'OutputForm', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/graph.conncomp.html'


    "digraph.outdegree [matlab]":
        prefix: "digraph.outdegree"
        body: '''digraph.outdegree(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        digraph.outdegree(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.outdegree.html'


    "digraph.outedges [matlab]":
        prefix: "digraph.outedges"
        body: '''digraph.outedges(${1:G}, ${2:nodeID})'''
        description: '''[matlab] 
        digraph.outedges(G, nodeID)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.outedges.html'


    "digraph.edgecount [matlab]":
        prefix: "digraph.edgecount"
        body: '''digraph.edgecount(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        digraph.edgecount(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.edgecount.html'


    "digraph [matlab]":
        prefix: "digraph"
        body: '''${1:g} = digraph(${1:EdgeTable}, ${2:optional_NodeTable}, ${3:omit})'''
        description: '''[matlab] Graph with directed edges
        g = digraph(EdgeTable, optional_NodeTable, omit)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.html'


    "digraph.indegree [matlab]":
        prefix: "digraph.indegree"
        body: '''digraph.indegree(${1:G}, ${2:nodeIDs})'''
        description: '''[matlab] 
        digraph.indegree(G, nodeIDs)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.indegree.html'


    "digraph.rmedge [matlab]":
        prefix: "digraph.rmedge"
        body: '''digraph.rmedge(${1:G}, ${2:s}, ${3:t})'''
        description: '''[matlab] 
        digraph.rmedge(G, s, t)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/digraph.rmedge.html'

