# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "quad2d [matlab]":
        prefix: "quad2d"
        body: '''[${11:q}, ${12:errbnd}] = quad2d(${1:fun}, ${2:a}, ${3:b}, ${4:c}, ${5:d}, 'AbsTol', ${6:value}, 'RelTol', ${7:value}, 'MaxFunEvals', ${8:value}, 'FailurePlot', ${9:value}, 'Singular', ${10:value})'''
        description: '''[matlab] Numerically integrate sfit object
        [q, errbnd] = quad2d(fun, a, b, c, d, 'AbsTol', value, 'RelTol', value, 'MaxFunEvals', value, 'FailurePlot', value, 'Singular', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/sfit.quad2d.html'


    "integral3 [matlab]":
        prefix: "integral3"
        body: '''${11:q} = integral3(${1:fun}, ${2:xmin}, ${3:xmax}, ${4:ymin}, ${5:ymax}, ${6:zmin}, ${7:zmax}, 'AbsTol', ${8:value}, 'RelTol', ${9:value}, 'Method', ${10:value})'''
        description: '''[matlab] Numerically evaluate triple integral
        q = integral3(fun, xmin, xmax, ymin, ymax, zmin, zmax, 'AbsTol', value, 'RelTol', value, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/integral3.html'


    "bvpxtend [matlab]":
        prefix: "bvpxtend"
        body: '''bvpxtend(${1:sol}, ${2:xnew}, ${3:optional_ynew}, ${4:optional_pnew})'''
        description: '''[matlab] Form guess structure for extending boundary value solutions
        bvpxtend(sol, xnew, optional_ynew, optional_pnew)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/bvpxtend.html'


    "odeset [matlab]":
        prefix: "odeset"
        body: '''${23:options} = odeset(${1:optional_oldopts}, 'RelTol', ${2:value}, 'AbsTol', ${3:value}, 'NormControl', ${4:value}, 'Refine', ${5:value}, 'OutputFcn', ${6:value}, 'OutputSel', ${7:value}, 'Stats', ${8:value}, 'Jacobian', ${9:value}, 'JPattern', ${10:value}, 'Vectorized', ${11:value}, 'Events', ${12:value}, 'Mass', ${13:value}, 'MStateDependence', ${14:value}, 'MassSingular', ${15:value}, 'MvPattern', ${16:value}, 'InitialSlope', ${17:value}, 'InitialStep', ${18:value}, 'MaxStep', ${19:value}, 'NonNegative', ${20:value}, 'BDF', ${21:value}, 'MaxOrder', ${22:value})'''
        description: '''[matlab] Create or modify options structure for ODE and PDE solvers
        options = odeset(optional_oldopts, 'RelTol', value, 'AbsTol', value, 'NormControl', value, 'Refine', value, 'OutputFcn', value, 'OutputSel', value, 'Stats', value, 'Jacobian', value, 'JPattern', value, 'Vectorized', value, 'Events', value, 'Mass', value, 'MStateDependence', value, 'MassSingular', value, 'MvPattern', value, 'InitialSlope', value, 'InitialStep', value, 'MaxStep', value, 'NonNegative', value, 'BDF', value, 'MaxOrder', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/odeset.html'


    "ddeget [matlab]":
        prefix: "ddeget"
        body: '''ddeget(${1:options}, ${2:name}, ${3:optional_default})'''
        description: '''[matlab] Extract properties from delay differential equations options
structure
        ddeget(options, name, optional_default)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ddeget.html'


    "quadgk [matlab]":
        prefix: "quadgk"
        body: '''[${8:q}, ${9:errbnd}] = quadgk(${1:fun}, ${2:a}, ${3:b}, 'AbsTol', ${4:value}, 'RelTol', ${5:value}, 'Waypoints', ${6:value}, 'MaxIntervalCount', ${7:value})'''
        description: '''[matlab] Numerically evaluate integral — Gauss-Kronrod quadrature
        [q, errbnd] = quadgk(fun, a, b, 'AbsTol', value, 'RelTol', value, 'Waypoints', value, 'MaxIntervalCount', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/quadgk.html'


    "odeget [matlab]":
        prefix: "odeget"
        body: '''odeget(${1:options}, ${2:name}, ${3:optional_default})'''
        description: '''[matlab] Extract ODE option values
        odeget(options, name, optional_default)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/odeget.html'


    "integral [matlab]":
        prefix: "integral"
        body: '''${8:q} = integral(${1:fun}, ${2:xmin}, ${3:xmax}, 'AbsTol', ${4:value}, 'RelTol', ${5:value}, 'ArrayValued', ${6:value}, 'Waypoints', ${7:value})'''
        description: '''[matlab] Numerical integration
        q = integral(fun, xmin, xmax, 'AbsTol', value, 'RelTol', value, 'ArrayValued', value, 'Waypoints', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/integral.html'


    "bvpget [matlab]":
        prefix: "bvpget"
        body: '''bvpget(${1:options}, ${2:name}, ${3:optional_default})'''
        description: '''[matlab] Extract properties from options structure created with
bvpset
        bvpget(options, name, optional_default)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/bvpget.html'


    "ddeset [matlab]":
        prefix: "ddeset"
        body: '''${14:options} = ddeset(${1:optional_oldopts}, 'RelTol', ${2:value}, 'AbsTol', ${3:value}, 'NormControl', ${4:value}, 'OutputFcn', ${5:value}, 'OutputSel', ${6:value}, 'Refine', ${7:value}, 'Stats', ${8:value}, 'InitialStep', ${9:value}, 'MaxStep', ${10:value}, 'Events', ${11:value}, 'Jumps', ${12:value}, 'InitialY', ${13:value})'''
        description: '''[matlab] Create or alter delay differential equations options structure
        options = ddeset(optional_oldopts, 'RelTol', value, 'AbsTol', value, 'NormControl', value, 'OutputFcn', value, 'OutputSel', value, 'Refine', value, 'Stats', value, 'InitialStep', value, 'MaxStep', value, 'Events', value, 'Jumps', value, 'InitialY', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ddeset.html'


    "bvpset [matlab]":
        prefix: "bvpset"
        body: '''bvpset(${1:optional_oldopts}, 'RelTol', ${2:value}, 'AbsTol', ${3:value}, 'Vectorized', ${4:value}, 'FJacobian', ${5:value}, 'BCJacobian', ${6:value}, 'SingularTerm', ${7:value}, 'Nmax', ${8:value}, 'Stats', ${9:value})'''
        description: '''[matlab] Create or alter options structure of boundary value problem
        bvpset(optional_oldopts, 'RelTol', value, 'AbsTol', value, 'Vectorized', value, 'FJacobian', value, 'BCJacobian', value, 'SingularTerm', value, 'Nmax', value, 'Stats', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/bvpset.html'


    "integral2 [matlab]":
        prefix: "integral2"
        body: '''${9:q} = integral2(${1:fun}, ${2:xmin}, ${3:xmax}, ${4:ymin}, ${5:ymax}, 'AbsTol', ${6:value}, 'RelTol', ${7:value}, 'Method', ${8:value})'''
        description: '''[matlab] Numerically evaluate double integral
        q = integral2(fun, xmin, xmax, ymin, ymax, 'AbsTol', value, 'RelTol', value, 'Method', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/integral2.html'

