# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "rectangle [matlab]":
        prefix: "rectangle"
        body: '''${1:h} = rectangle(${1:optional_ax}, ${2:opts})'''
        description: '''[matlab] Create rectangle with sharp or curved corners
        h = rectangle(optional_ax, opts)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/rectangle.html'


    "makehgtform [matlab]":
        prefix: "makehgtform"
        body: '''makehgtform(${1:optional_transform})'''
        description: '''[matlab] Create 4-by-4 transform matrix
        makehgtform(optional_transform)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/makehgtform.html'


    "surface [matlab]":
        prefix: "surface"
        body: '''${1:h} = surface(${1:optional_ax}, ${2:optional_x}, ${3:optional_y}, ${4:z}, ${5:optional_c}, ${6:opts})'''
        description: '''[matlab] Primitive surface plot
        h = surface(optional_ax, optional_x, optional_y, z, optional_c, opts)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/surface.html'


    "text [matlab]":
        prefix: "text"
        body: '''${1:h} = text(${1:optional_ax}, ${2:opts})'''
        description: '''[matlab] Add text descriptions to data points
        h = text(optional_ax, opts)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/text.html'

