# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "colorbar [matlab]":
        prefix: "colorbar"
        body: '''${1:leg} = colorbar(${1:off})'''
        description: '''[matlab] Colorbar showing color scale
        leg = colorbar(off)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/colorbar.html'


    "annotation [matlab]":
        prefix: "annotation"
        body: '''${1:anno_obj_handle} = annotation(${1:optional_handle}, ${2:annotation}, ${3:optional_xywh}, ${4:opts})'''
        description: '''[matlab] Create annotations
        anno_obj_handle = annotation(optional_handle, annotation, optional_xywh, opts)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/annotation.html'


    "legend [matlab]":
        prefix: "legend"
        body: '''${1:leg} = legend(${1:optional_ax}, ${2:flag})'''
        description: '''[matlab] Add legend to axes
        leg = legend(optional_ax, flag)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/legend.html'

