# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "hdfhx [matlab]":
        prefix: "hdfhx"
        body: '''hdfhx()'''
        description: '''[matlab] Gateway to HDF external data (HX) interface
        hdfhx()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfhx.html'


    "Tiff.close [matlab]":
        prefix: "Tiff.close"
        body: '''Tiff.close'''
        description: '''[matlab] Close Tiff object
        Tiff.close
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.close.html'


    "Tiff.writeDirectory [matlab]":
        prefix: "Tiff.writeDirectory"
        body: '''Tiff.writeDirectory(${1:tiffobj})'''
        description: '''[matlab] Create new IFD and make it current IFD
        Tiff.writeDirectory(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.writedirectory.html'


    "cdfread [matlab]":
        prefix: "cdfread"
        body: '''[${7:data}, ${8:info}] = cdfread(${1:filename}, 'Records', ${2:value}, 'Variables', ${3:value}, 'Slices', ${4:value}, 'ConvertEpochToDatenum', ${5:value}, 'CombineRecords', ${6:value})'''
        description: '''[matlab] Read data from Common Data Format (CDF) file
        [data, info] = cdfread(filename, 'Records', value, 'Variables', value, 'Slices', value, 'ConvertEpochToDatenum', value, 'CombineRecords', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/cdfread.html'


    "hdfdfr8 [matlab]":
        prefix: "hdfdfr8"
        body: '''hdfdfr8()'''
        description: '''[matlab] Gateway to HDF 8-bit raster image (DFR8) interface
        hdfdfr8()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfdfr8.html'


    "h5readatt [matlab]":
        prefix: "h5readatt"
        body: '''${4:attval} = h5readatt(${1:filename}, ${2:location}, ${3:attr})'''
        description: '''[matlab] Read attribute from HDF5 file
        attval = h5readatt(filename, location, attr)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5readatt.html'


    "h5create [matlab]":
        prefix: "h5create"
        body: '''h5create(${1:filename}, ${2:datasetname}, ${3:size}, 'Datatype', ${4:value}, 'Chunksize', ${5:value}, 'Deflate', ${6:value}, 'Fillvalue', ${7:value}, 'Fletcher32', ${8:value}, 'Shuffle', ${9:value}, 'TextEncoding', ${10:value})'''
        description: '''[matlab] Create HDF5 data set
        h5create(filename, datasetname, size, 'Datatype', value, 'Chunksize', value, 'Deflate', value, 'Fillvalue', value, 'Fletcher32', value, 'Shuffle', value, 'TextEncoding', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5create.html'


    "Tiff.write [matlab]":
        prefix: "Tiff.write"
        body: '''Tiff.write(${1:tiffobj}, ${2:Y}, ${3:Cb}, ${4:Cr})'''
        description: '''[matlab] Write entire image
        Tiff.write(tiffobj, Y, Cb, Cr)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.write.html'


    "Tiff.setSubDirectory [matlab]":
        prefix: "Tiff.setSubDirectory"
        body: '''Tiff.setSubDirectory(${1:tiffobj}, ${2:offset})'''
        description: '''[matlab] Make subIFD the current IFD
        Tiff.setSubDirectory(tiffobj, offset)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.setsubdirectory.html'


    "Tiff.readEncodedTile [matlab]":
        prefix: "Tiff.readEncodedTile"
        body: '''Tiff.readEncodedTile(${1:tiffobj}, ${2:tileNumber})'''
        description: '''[matlab] Read data from specified tile
        Tiff.readEncodedTile(tiffobj, tileNumber)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.readencodedtile.html'


    "hdfsd [matlab]":
        prefix: "hdfsd"
        body: '''hdfsd()'''
        description: '''[matlab] 
        hdfsd()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfsd.html'


    "Tiff.read [matlab]":
        prefix: "Tiff.read"
        body: '''Tiff.read(${1:tiffobj})'''
        description: '''[matlab] Read entire TIFF image
        Tiff.read(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.read.html'


    "Tiff.readEncodedStrip [matlab]":
        prefix: "Tiff.readEncodedStrip"
        body: '''Tiff.readEncodedStrip(${1:tiffobj}, ${2:stripNumber})'''
        description: '''[matlab] Read data from specified strip
        Tiff.readEncodedStrip(tiffobj, stripNumber)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.readencodedstrip.html'


    "Tiff.readRGBATile [matlab]":
        prefix: "Tiff.readRGBATile"
        body: '''Tiff.readRGBATile(${1:tiffobj}, ${2:row}, ${3:col})'''
        description: '''[matlab] Read tile data using RGBA interface
        Tiff.readRGBATile(tiffobj, row, col)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.readrgbatile.html'


    "hdf5read [matlab]":
        prefix: "hdf5read"
        body: '''hdf5read()'''
        description: '''[matlab] Read HDF5 file
        hdf5read()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdf5read.html'


    "Tiff.readRGBAImage [matlab]":
        prefix: "Tiff.readRGBAImage"
        body: '''Tiff.readRGBAImage(${1:tiffobj})'''
        description: '''[matlab] Read image using RGBA interface
        Tiff.readRGBAImage(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.readrgbaimage.html'


    "hdfsw [matlab]":
        prefix: "hdfsw"
        body: '''hdfsw()'''
        description: '''[matlab] 
        hdfsw()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfsw.html'


    "h5read [matlab]":
        prefix: "h5read"
        body: '''${6:info} = h5read(${1:filename}, ${2:datasetname}, ${3:start}, ${4:count}, ${5:stride})'''
        description: '''[matlab] Read data from HDF5 data set
        info = h5read(filename, datasetname, start, count, stride)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5read.html'


    "hdfv [matlab]":
        prefix: "hdfv"
        body: '''hdfv()'''
        description: '''[matlab] Gateway to HDF Vgroup (V) interface
        hdfv()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfv.html'


    "imwrite [matlab]":
        prefix: "imwrite"
        body: '''imwrite(${1:A}, ${2:optional_map}, ${3:filename}, ${4:optional_fmt})'''
        description: '''[matlab] Write image to graphics file
        imwrite(A, optional_map, filename, optional_fmt)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/../matlab/ref/imwrite.html'


    "Tiff.getTagNames [matlab]":
        prefix: "Tiff.getTagNames"
        body: '''Tiff.getTagNames(${1:tiffobj})'''
        description: '''[matlab] List of recognized TIFF tags
        Tiff.getTagNames(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.tiff.gettagnames.html'


    "Tiff.readRGBAStrip [matlab]":
        prefix: "Tiff.readRGBAStrip"
        body: '''Tiff.readRGBAStrip(${1:tiffobj}, ${2:row})'''
        description: '''[matlab] Read strip data using RGBA interface
        Tiff.readRGBAStrip(tiffobj, row)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.readrgbastrip.html'


    "ncreadatt [matlab]":
        prefix: "ncreadatt"
        body: '''ncreadatt(${1:source}, ${2:location}, ${3:attname})'''
        description: '''[matlab]  Read attribute value
from NetCDF data source
        ncreadatt(source, location, attname)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncreadatt.html'


    "hdfinfo [matlab]":
        prefix: "hdfinfo"
        body: '''${3:info} = hdfinfo(${1:filename}, ${2:optional_'HDF'})'''
        description: '''[matlab] Information about HDF4 or HDF-EOS file
        info = hdfinfo(filename, optional_'HDF')
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfinfo.html'


    "Tiff.getVersion [matlab]":
        prefix: "Tiff.getVersion"
        body: '''Tiff.getVersion(${1:tiffobj})'''
        description: '''[matlab] LibTIFF library version
        Tiff.getVersion(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.tiff.getversion.html'


    "multibandread [matlab]":
        prefix: "multibandread"
        body: '''multibandread(${1:filename}, ${2:size}, ${3:precision}, ${4:offset}, ${5:interleave}, ${6:byteorder}, ${7:optional_subset1}, ${8:optional_subset2}, ${9:optional_subset3})'''
        description: '''[matlab] Read band-interleaved data from binary file
        multibandread(filename, size, precision, offset, interleave, byteorder, optional_subset1, optional_subset2, optional_subset3)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/multibandread.html'


    "hdfgd [matlab]":
        prefix: "hdfgd"
        body: '''hdfgd()'''
        description: '''[matlab] 
        hdfgd()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfgd.html'


    "hdfml [matlab]":
        prefix: "hdfml"
        body: '''hdfml'''
        description: '''[matlab] Utilities for working with MATLAB HDF gateway functions
        hdfml
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfml.html'


    "fitswrite [matlab]":
        prefix: "fitswrite"
        body: '''fitswrite(${1:imagedata}, ${2:filename}, 'WriteMode', ${3:value}, 'Compression', ${4:value})'''
        description: '''[matlab] Write image to FITS file
        fitswrite(imagedata, filename, 'WriteMode', value, 'Compression', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/fitswrite.html'


    "Tiff.numberOfStrips [matlab]":
        prefix: "Tiff.numberOfStrips"
        body: '''Tiff.numberOfStrips(${1:tiffobj})'''
        description: '''[matlab] Total number of strips in image
        Tiff.numberOfStrips(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.numberofstrips.html'


    "cdfwrite [matlab]":
        prefix: "cdfwrite"
        body: '''cdfwrite(${1:filename}, ${2:variablelist}, 'PadValues', ${3:value}, 'GlobalAttributes', ${4:value}, 'VariableAttributes', ${5:value}, 'WriteMode', ${6:value}, 'Format', ${7:value})'''
        description: '''[matlab] Write data to Common Data Format (CDF) file
        cdfwrite(filename, variablelist, 'PadValues', value, 'GlobalAttributes', value, 'VariableAttributes', value, 'WriteMode', value, 'Format', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/cdfwrite.html'


    "ncinfo [matlab]":
        prefix: "ncinfo"
        body: '''ncinfo(${1:source}, ${2:optional_groupname})'''
        description: '''[matlab]  Return information about
NetCDF data source
        ncinfo(source, optional_groupname)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncinfo.html'


    "nccreate [matlab]":
        prefix: "nccreate"
        body: '''nccreate(${1:filename}, ${2:varname}, 'Dimensions', ${3:value}, 'Datatype', ${4:value}, 'Format', ${5:value}, 'FillValue', ${6:value}, 'ChunkSize', ${7:value}, 'DeflateLevel', ${8:value}, 'Shuffle', ${9:value})'''
        description: '''[matlab] Create variable in NetCDF file
        nccreate(filename, varname, 'Dimensions', value, 'Datatype', value, 'Format', value, 'FillValue', value, 'ChunkSize', value, 'DeflateLevel', value, 'Shuffle', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/nccreate.html'


    "multibandwrite [matlab]":
        prefix: "multibandwrite"
        body: '''multibandwrite(${1:data}, ${2:filename}, ${3:interleave}, 'precision', ${4:value}, 'offset', ${5:value}, 'machfmt', ${6:value}, 'fillvalue', ${7:value})'''
        description: '''[matlab] Write band-interleaved data to file
        multibandwrite(data, filename, interleave, 'precision', value, 'offset', value, 'machfmt', value, 'fillvalue', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/multibandwrite.html'


    "hdfhe [matlab]":
        prefix: "hdfhe"
        body: '''hdfhe()'''
        description: '''[matlab] Gateway to HDF HE interface
        hdfhe()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfhe.html'


    "hdfvh [matlab]":
        prefix: "hdfvh"
        body: '''hdfvh()'''
        description: '''[matlab] Gateway to VH functions in HDF Vdata interface
        hdfvh()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfvh.html'


    "Tiff.lastDirectory [matlab]":
        prefix: "Tiff.lastDirectory"
        body: '''Tiff.lastDirectory(${1:tiffobj})'''
        description: '''[matlab] Determine if current IFD is last in file
        Tiff.lastDirectory(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.lastdirectory.html'


    "hdf5info [matlab]":
        prefix: "hdf5info"
        body: '''hdf5info()'''
        description: '''[matlab] Information about HDF5 file
        hdf5info()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdf5info.html'


    "imread [matlab]":
        prefix: "imread"
        body: '''imread(${1:filename}, ${2:optional_fmt})'''
        description: '''[matlab] Read image from graphics file
        imread(filename, optional_fmt)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/../matlab/ref/imread.html'


    "hdftool [matlab]":
        prefix: "hdftool"
        body: '''${2:h} = hdftool(${1:filename})'''
        description: '''[matlab] (Not recommended) Browse and import data from HDF4 or HDF-EOS files
        h = hdftool(filename)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdftool.html'


    "ncwriteatt [matlab]":
        prefix: "ncwriteatt"
        body: '''ncwriteatt(${1:filename}, ${2:location}, ${3:attname}, ${4:attvalue})'''
        description: '''[matlab] Write attribute to NetCDF file
        ncwriteatt(filename, location, attname, attvalue)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncwriteatt.html'


    "imfinfo [matlab]":
        prefix: "imfinfo"
        body: '''imfinfo(${1:filename}, ${2:optional_fmt})'''
        description: '''[matlab] Information about graphics file
        imfinfo(filename, optional_fmt)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/../matlab/ref/imfinfo.html'


    "fitsread [matlab]":
        prefix: "fitsread"
        body: '''${9:data} = fitsread(${1:filename}, ${2:optional_'raw'}, ${3:optional_extname}, ${4:optional_index}, 'Info', ${5:value}, 'PixelRegion', ${6:value}, 'TableColumns', ${7:value}, 'TableRows', ${8:value})'''
        description: '''[matlab] Read data from FITS file
        data = fitsread(filename, optional_'raw', optional_extname, optional_index, 'Info', value, 'PixelRegion', value, 'TableColumns', value, 'TableRows', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/fitsread.html'


    "Tiff.setDirectory [matlab]":
        prefix: "Tiff.setDirectory"
        body: '''Tiff.setDirectory(${1:tiffobj}, ${2:dirNum})'''
        description: '''[matlab] Make specified IFD the current IFD
        Tiff.setDirectory(tiffobj, dirNum)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.setdirectory.html'


    "Tiff.isTiled [matlab]":
        prefix: "Tiff.isTiled"
        body: '''Tiff.isTiled(${1:tiffobj})'''
        description: '''[matlab] Determine if image is tiled
        Tiff.isTiled(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.istiled.html'


    "h5write [matlab]":
        prefix: "h5write"
        body: '''h5write(${1:filename}, ${2:datasetname}, ${3:data}, ${4:start}, ${5:count}, ${6:stride})'''
        description: '''[matlab] Write to HDF5 data set
        h5write(filename, datasetname, data, start, count, stride)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5write.html'


    "Tiff.nextDirectory [matlab]":
        prefix: "Tiff.nextDirectory"
        body: '''Tiff.nextDirectory(${1:tiffobj})'''
        description: '''[matlab] Make next IFD the current IFD
        Tiff.nextDirectory(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.nextdirectory.html'


    "hdf5write [matlab]":
        prefix: "hdf5write"
        body: '''hdf5write()'''
        description: '''[matlab] Write data to file in HDF5 format
        hdf5write()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdf5write.html'


    "hdfhd [matlab]":
        prefix: "hdfhd"
        body: '''hdfhd()'''
        description: '''[matlab] Gateway to HDF HD interface
        hdfhd()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfhd.html'


    "Tiff.currentDirectory [matlab]":
        prefix: "Tiff.currentDirectory"
        body: '''Tiff.currentDirectory(${1:tiffobj}, ${2:rowcol})'''
        description: '''[matlab] Return index of current IFD
        Tiff.currentDirectory(tiffobj, rowcol)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.currentdirectory.html'


    "cdfinfo [matlab]":
        prefix: "cdfinfo"
        body: '''${2:info} = cdfinfo(${1:filename})'''
        description: '''[matlab] Information about Common Data Format (CDF) file
        info = cdfinfo(filename)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/cdfinfo.html'


    "fitsinfo [matlab]":
        prefix: "fitsinfo"
        body: '''${2:info} = fitsinfo(${1:filename})'''
        description: '''[matlab] Information about FITS file
        info = fitsinfo(filename)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/fitsinfo.html'


    "h5disp [matlab]":
        prefix: "h5disp"
        body: '''h5disp(${1:filename}, ${2:location}, ${3:mode}, 'TextEncoding', ${4:value})'''
        description: '''[matlab] Display contents of HDF5 file
        h5disp(filename, location, mode, 'TextEncoding', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5disp.html'


    "Tiff.computeStrip [matlab]":
        prefix: "Tiff.computeStrip"
        body: '''Tiff.computeStrip(${1:tiffobj}, ${2:row}, ${3:optional_plane})'''
        description: '''[matlab] Index number of strip containing specified coordinate
        Tiff.computeStrip(tiffobj, row, optional_plane)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.computestrip.html'


    "ncdisp [matlab]":
        prefix: "ncdisp"
        body: '''ncdisp(${1:source}, ${2:location}, ${3:dispFormat})'''
        description: '''[matlab] Display contents of NetCDF data source in Command Window
        ncdisp(source, location, dispFormat)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncdisp.html'


    "hdfan [matlab]":
        prefix: "hdfan"
        body: '''hdfan()'''
        description: '''[matlab] Gateway to HDF multifile annotation (AN) interface
        hdfan()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfan.html'


    "h5info [matlab]":
        prefix: "h5info"
        body: '''${4:info} = h5info(${1:filename}, ${2:location}, 'TextEncoding', ${3:value})'''
        description: '''[matlab] Return information about HDF5 file
        info = h5info(filename, location, 'TextEncoding', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5info.html'


    "Tiff.getTag [matlab]":
        prefix: "Tiff.getTag"
        body: '''Tiff.getTag(${1:tiffobj}, ${2:tagId})'''
        description: '''[matlab] Value of specified tag
        Tiff.getTag(tiffobj, tagId)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.gettag.html'


    "imformats [matlab]":
        prefix: "imformats"
        body: '''imformats()'''
        description: '''[matlab] Manage image file format registry
        imformats()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/imformats.html'


    "Tiff.writeEncodedStrip [matlab]":
        prefix: "Tiff.writeEncodedStrip"
        body: '''Tiff.writeEncodedStrip(${1:tiffobj}, ${2:stripNumber}, ${3:Y}, ${4:Cb}, ${5:Cr})'''
        description: '''[matlab] Write data to specified strip
        Tiff.writeEncodedStrip(tiffobj, stripNumber, Y, Cb, Cr)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.writeencodedstrip.html'


    "hdf5 [matlab]":
        prefix: "hdf5"
        body: '''hdf5()'''
        description: '''[matlab] 
        hdf5()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdf5.html'


    "ncwrite [matlab]":
        prefix: "ncwrite"
        body: '''ncwrite(${1:filename}, ${2:varname}, ${3:vardata})'''
        description: '''[matlab] Write data to NetCDF file
        ncwrite(filename, varname, vardata)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncwrite.html'


    "Tiff.computeTile [matlab]":
        prefix: "Tiff.computeTile"
        body: '''Tiff.computeTile(${1:tiffobj}, ${2:rowcol}, ${3:optional_plane})'''
        description: '''[matlab] Index number of tile containing specified coordinates
        Tiff.computeTile(tiffobj, rowcol, optional_plane)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.computetile.html'


    "h5writeatt [matlab]":
        prefix: "h5writeatt"
        body: '''h5writeatt(${1:filename}, ${2:location}, ${3:attname}, ${4:attvalue}, 'TextEncoding', ${5:value})'''
        description: '''[matlab] Write HDF5 attribute
        h5writeatt(filename, location, attname, attvalue, 'TextEncoding', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/h5writeatt.html'


    "Tiff.rewriteDirectory [matlab]":
        prefix: "Tiff.rewriteDirectory"
        body: '''Tiff.rewriteDirectory(${1:tiffobj})'''
        description: '''[matlab] Write modified metadata to existing IFD
        Tiff.rewriteDirectory(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.rewritedirectory.html'


    "Tiff.setTag [matlab]":
        prefix: "Tiff.setTag"
        body: '''Tiff.setTag(${1:tiffobj}, ${2:tagStruct})'''
        description: '''[matlab] Set value of tag
        Tiff.setTag(tiffobj, tagStruct)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.settag.html'


    "ncwriteschema [matlab]":
        prefix: "ncwriteschema"
        body: '''ncwriteschema(${1:filename}, ${2:schema})'''
        description: '''[matlab] Add NetCDF schema definitions to NetCDF file
        ncwriteschema(filename, schema)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncwriteschema.html'


    "Tiff.writeEncodedTile [matlab]":
        prefix: "Tiff.writeEncodedTile"
        body: '''Tiff.writeEncodedTile(${1:tiffobj}, ${2:tileNumber}, ${3:Y}, ${4:Cb}, ${5:Cr})'''
        description: '''[matlab] Write data to specified tile
        Tiff.writeEncodedTile(tiffobj, tileNumber, Y, Cb, Cr)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.writeencodedtile.html'


    "Tiff.numberOfTiles [matlab]":
        prefix: "Tiff.numberOfTiles"
        body: '''Tiff.numberOfTiles(${1:tiffobj})'''
        description: '''[matlab] Total number of tiles in image
        Tiff.numberOfTiles(tiffobj)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/tiff.numberoftiles.html'


    "ncread [matlab]":
        prefix: "ncread"
        body: '''ncread(${1:source}, ${2:varname})'''
        description: '''[matlab] Read data from variable in NetCDF data source
        ncread(source, varname)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/ncread.html'


    "hdfdf24 [matlab]":
        prefix: "hdfdf24"
        body: '''hdfdf24()'''
        description: '''[matlab] Gateway to HDF 24-bit raster image (DF24) interface
        hdfdf24()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfdf24.html'


    "hdfpt [matlab]":
        prefix: "hdfpt"
        body: '''hdfpt()'''
        description: '''[matlab] Interface to HDF-EOS Point object
        hdfpt()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfpt.html'


    "Tiff [matlab]":
        prefix: "Tiff"
        body: '''Tiff(${1:filename}, ${2:optional_mode})'''
        description: '''[matlab] 
        Tiff(filename, optional_mode)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/Tiff.html'


    "hdfvf [matlab]":
        prefix: "hdfvf"
        body: '''hdfvf()'''
        description: '''[matlab] Gateway to VF functions in HDF Vdata interface
        hdfvf()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfvf.html'


    "hdfvs [matlab]":
        prefix: "hdfvs"
        body: '''hdfvs()'''
        description: '''[matlab] Gateway to VS functions in HDF Vdata interface
        hdfvs()
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/hdfvs.html'


    "fitsdisp [matlab]":
        prefix: "fitsdisp"
        body: '''fitsdisp(${1:filename}, 'Index', ${2:value}, 'Mode', ${3:value})'''
        description: '''[matlab] Display FITS metadata
        fitsdisp(filename, 'Index', value, 'Mode', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/matlab/ref/fitsdisp.html'

