# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "matlabshared.asyncio.buffer.DataSink [shared]":
        prefix: "matlabshared.asyncio.buffer.DataSink"
        body: '''${1:dataSink} = matlabshared.asyncio.buffer.DataSink'''
        description: '''[shared] 
        dataSink = matlabshared.asyncio.buffer.DataSink
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/matlabshared.asyncio.buffer.DataSink.html'


    "matlabshared.asyncio.buffer.DataPump [shared]":
        prefix: "matlabshared.asyncio.buffer.DataPump"
        body: '''${5:dataPump} = matlabshared.asyncio.buffer.DataPump(${1:buffer}, ${2:dataSink}, ${3:outputCount}, ${4:outputPeriod})'''
        description: '''[shared] 
        dataPump = matlabshared.asyncio.buffer.DataPump(buffer, dataSink, outputCount, outputPeriod)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/matlabshared.asyncio.buffer.DataPump.html'


    "matlabshared.asyncio.buffer.Buffer [shared]":
        prefix: "matlabshared.asyncio.buffer.Buffer"
        body: '''${2:buffer} = matlabshared.asyncio.buffer.Buffer(${1:bufferSize})'''
        description: '''[shared] 
        buffer = matlabshared.asyncio.buffer.Buffer(bufferSize)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/matlabshared.asyncio.buffer.Buffer.html'

