# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "sheetnames [shared]":
        prefix: "sheetnames"
        body: '''${2:sn} = sheetnames(${1:filename})'''
        description: '''[shared] Query sheet names from datastore
        sn = sheetnames(filename)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/ref/matlab.io.datastore.spreadsheetdatastore.sheetnames.html'

