# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "mat2dataset [shared]":
        prefix: "mat2dataset"
        body: '''mat2dataset(${1:X}, 'VarNames', ${2:value}, 'ObsNames', ${3:value}, 'NumCols', ${4:value})'''
        description: '''[shared] (Not Recommended) Convert matrix to dataset array
        mat2dataset(X, 'VarNames', value, 'ObsNames', value, 'NumCols', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/mat2dataset.html'


    "cell2dataset [shared]":
        prefix: "cell2dataset"
        body: '''cell2dataset(${1:C}, 'ReadVarNames', ${2:value}, 'VarNames', ${3:value}, 'ReadObsNames', ${4:value}, 'ObsNames', ${5:value}, 'NumCols', ${6:value})'''
        description: '''[shared] (Not Recommended) Convert cell array to dataset array
        cell2dataset(C, 'ReadVarNames', value, 'VarNames', value, 'ReadObsNames', value, 'ObsNames', value, 'NumCols', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/cell2dataset.html'


    "struct2dataset [shared]":
        prefix: "struct2dataset"
        body: '''struct2dataset(${1:S}, 'ReadObsNames', ${2:value}, 'ObsNames', ${3:value}, 'AsScalar', ${4:value})'''
        description: '''[shared] (Not Recommended) Convert structure array to dataset array
        struct2dataset(S, 'ReadObsNames', value, 'ObsNames', value, 'AsScalar', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/struct2dataset.html'


    "makedist [shared]":
        prefix: "makedist"
        body: '''makedist(${1:distname}, 'a', ${2:value}, 'b', ${3:value})'''
        description: '''[shared] Create probability distribution object
        makedist(distname, 'a', value, 'b', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/makedist.html'

