# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "comm.PhaseNoise [shared]":
        prefix: "comm.PhaseNoise"
        body: '''comm.PhaseNoise(${1:Level}, ${2:FrequencyOffset}, ${3:SampleRate}, ${4:varargin})'''
        description: '''[shared] 
        comm.PhaseNoise(Level, FrequencyOffset, SampleRate, varargin)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/comm.PhaseNoise.html'


    "comm.EyeDiagram [shared]":
        prefix: "comm.EyeDiagram"
        body: '''comm.EyeDiagram(${1:varargin})'''
        description: '''[shared] 
        comm.EyeDiagram(varargin)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/comm.EyeDiagram.html'

