# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "comparisons.Comparison.publish [shared]":
        prefix: "comparisons.Comparison.publish"
        body: '''${6:file} = comparisons.Comparison.publish(${1:comparison}, 'Format', ${2:value}, 'Name', ${3:value}, 'OutputFolder', ${4:value}, ${5:optional_options})'''
        description: '''[shared] 
        file = comparisons.Comparison.publish(comparison, 'Format', value, 'Name', value, 'OutputFolder', value, optional_options)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/comparisons.Comparison.publish.html'


    "comparisons.Comparison.filter [shared]":
        prefix: "comparisons.Comparison.filter"
        body: '''comparisons.Comparison.filter(${1:comparison}, ${2:filterDefinition})'''
        description: '''[shared] 
        comparisons.Comparison.filter(comparison, filterDefinition)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/comparisons.Comparison.filter.html'


    "visdiff [shared]":
        prefix: "visdiff"
        body: '''visdiff(${1:filename1}, ${2:filename2}, ${3:type})'''
        description: '''[shared] Compare two files or folders
        visdiff(filename1, filename2, type)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/shared/ref/visdiff.html'

