# MATLAB snippets generated using https://github.com/aminya/Matlab-Snippets
'.source.matlab, source.m':

    "rewindAnimation [symbolic]":
        prefix: "rewindAnimation"
        body: '''rewindAnimation(${1:fig})'''
        description: '''[symbolic] Rewind previously played animation objects
        rewindAnimation(fig)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/symbolic/rewindanimation.html'


    "fanimator [symbolic]":
        prefix: "fanimator"
        body: '''${6:A} = fanimator(${1:ax}, ${2:funcHandle}, ${3:optional_funcHandleArg}, 'AnimationRange', ${4:value}, 'FrameRate', ${5:value})'''
        description: '''[symbolic] Create stop-motion animation object
        A = fanimator(ax, funcHandle, optional_funcHandleArg, 'AnimationRange', value, 'FrameRate', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/symbolic/fanimator.html'


    "playAnimation [symbolic]":
        prefix: "playAnimation"
        body: '''playAnimation(${1:fig}, 'AnimationRange', ${2:value}, 'Backwards', ${3:value}, 'FrameRate', ${4:value}, 'SpeedFactor', ${5:value})'''
        description: '''[symbolic] Play animation objects in a MATLAB figure window
        playAnimation(fig, 'AnimationRange', value, 'Backwards', value, 'FrameRate', value, 'SpeedFactor', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/symbolic/playanimation.html'


    "writeAnimation [symbolic]":
        prefix: "writeAnimation"
        body: '''writeAnimation(${1:fig}, ${2:filename}, 'AnimationRange', ${3:value}, 'Backwards', ${4:value}, 'FrameRate', ${5:value})'''
        description: '''[symbolic] Save animation as video file
        writeAnimation(fig, filename, 'AnimationRange', value, 'Backwards', value, 'FrameRate', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/symbolic/writeanimation.html'


    "animationToFrame [symbolic]":
        prefix: "animationToFrame"
        body: '''${5:frames} = animationToFrame(${1:fig}, 'AnimationRange', ${2:value}, 'Backwards', ${3:value}, 'FrameRate', ${4:value})'''
        description: '''[symbolic] Return structure of frames from animation objects
        frames = animationToFrame(fig, 'AnimationRange', value, 'Backwards', value, 'FrameRate', value)
        '''
        descriptionMoreURL: 'https://www.mathworks.com/help/symbolic/animationtoframe.html'

