fileTypes: [
  'm'
]
keyEquivalent: '^~M'
name: 'Overload method definition (MATLAB)'
injectionSelector: 'source.matlab meta.class.matlab meta.methods.matlab meta.function.definition.matlab'
uuid: 'FDE5FBC3-BA16-4FF8-9225-8B27B29F5BCF'
patterns: [
  {
    include: '#overload_definition'
  }
]
repository:
  overload_definition:
    comment: 'Overload entities (operators or type conversion)'
    match: '(?<!\\.)[a-zA-Z][a-zA-Z0-9_]*(?=\\s*\\()'
    patterns: [
      {
        comment: 'Arithmetic operator overloading'
        name: 'keyword.operator.arithmetic.matlab'
        match: '\\G(?:plus|minus|uminus|uplus|times|mtimes|rdivide|ldivide|mrdivide|mldivide|power|mpower)\\b'
      }
      {
        comment: 'Logical operator overloading'
        name: 'keyword.operator.logical.matlab'
        match: '\\G(?:and|eq|ge|gt|le|lt|ne|not|or)\\b'
      }
      {
        comment: 'Operator overloading'
        name: 'keyword.operator.word.matlab'
        match: '\\G(?:end|isa|isappdata|isbanded|isbetween|iscalendarduration|iscategorical|iscategory|iscell|iscellstr|ischar|iscolumn|iscom|isdatetime|isdiag|isdst|isduration|isempty|isenum|isequal|isequaln|isevent|isfield|isfile|isfinite|isfloat|isfolder|ishandle|ishermitian|ishold|isinf|isinteger|isinterface|isjava|iskeyword|isletter|islogical|ismac|ismatrix|ismember|ismethod|ismissing|isnan|isnat|isnumeric|isobject|isordinal|ispc|isprime|isprop|isprotected|isreal|isregular|isrow|isscalar|issorted|issortedrows|isspace|issparse|isstring|isStringScalar|isstrprop|isstruct|isstudent|issymmetric|istable|istall|istimetable|istril|istriu|isundefined|isunix|isvarname|isvector|isweekend|numArgumentsFromSubscript|numel|size|subsasgn|subsindex|subsref)\\b'
      }
      {
        comment: 'Graphics function overloading'
        name: 'support.function.graphics.matlab'
        match: '\\G(?:preview|setup|subtitle|title|update|view|xlabel|xlim|xticklabels|xticks|ylabel|ylim|yticklabels|yticks|zlabel|zlim|zticklabels|zticks)\\b'
      }
      {
        comment: 'Mathematics function overloading'
        name: 'support.function.mathematics.matlab'
        match: '\\G(?:colon|ctranspose|horzcat|permute|repmat|reshape|subsref|subsasgn|subsindex|transpose|vertcat)\\b'
      }
      {
        comment: 'Storage function overloading'
        name: 'support.function.io.matlab'
        match: '\\G(?:loadobj|saveobj)\\b'
      }
      {
        comment: 'Type conversion overloading'
        name: 'storage.type.matlab'
        match: '\\G(?:char|disp|double|empty)\\b'
      }
    ]