fileTypes: [
  'm'
]
keyEquivalent: '^~M'
name: 'Argument validation functions (MATLAB)'
scopeName: 'validation.matlab.injection'
injectionSelector: 'source.matlab meta.class.matlab meta.arguments.matlab meta.block.validation.matlab'
uuid: '6C8870EF-521E-4C7C-B19E-B20FDC9A5E84'
patterns: [
  {
    include: '#argument_validation'
  }
]
repository:
  argument_validation:
    comment: 'Argument validation functions'
    name: 'keyword.operator.word.matlab'
    match: '(?<!\\.)\\b(mustBeA|mustBeFile|mustBeFinite|mustBeFloat|mustBeFolder|mustBeGreaterThan|mustBeGreaterThanOrEqual|mustBeInRange|mustBeInteger|mustBeLessThan|mustBeLessThanOrEqual|mustBeMember|mustBeNegative|mustBeNonNan|mustBeNonempty|mustBeNonmissing|mustBeNonnegative|mustBeNonpositive|mustBeNonsparse|mustBeNonzero|mustBeNonzeroLengthText|mustBeNumeric|mustBeNumericOrLogical|mustBePositive|mustBeReal|mustBeScalarOrEmpty|mustBeText|mustBeTextScalar|mustBeUnderlyingType|mustBeValidVariableName|mustBeVector)(?=\\s*[(,}])'