".source.matlab":
  editor:
    commentStart: "% "
    increaseIndentPattern: '''
      (?x)^\\s*
          \\b(
             function
             |if|else|elseif
             |switch|case|otherwise
             |for|parfor|while
             |try|catch
             |unwind_protect
      	)\\b
    '''
    decreaseIndentPattern: "^\\s*\\b(end\\w*|catch|else|elseif|case|otherwise)\\b"
    foldEndPattern: "^\\s*(end|return)\\b.*$"
".source.octave":
  editor:
    commentStart: "% "
    increaseIndentPattern: "^\\s*(catch|else|elseif|for|parfor|function|if|switch|while|try).*"
    decreaseIndentPattern: "^\\s*(catch|else|elseif|end|endfunction|endif|endswitch|endwhile|endfor|endparfor|endtry)\\b"
    foldEndPattern: "^\\s*(end|return|endfunction|endif|endswitch|endwhile|endfor|endparfor|endtry)\\b.*$"
